<div class="overlay2">
<div class="modal2">
	<div class="modal-header">
			<button ng-click="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class='glyphicon glyphicon-edit'></i> Consulta</h4>
		  </div>
		<div class="modal-body">
			
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Paciene</label>
				<div class="col-sm-8">
					<label>{{pacienteNombre}} {{pacienteApellido}}</label>
				</div>
			</div>
			<br>
			<br>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Motivo de Consulta</label>
				<div class="col-sm-8">
					<label>{{motivoConsulta}}</label>
				</div>
			</div>
			<br>
			<br>

			<small style="font-weight: bolder;color: #286090;">Campos Obligatorios(*)</small>
			<br>
			
		</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cerrarModal()">Cerrar</button>
		<button type="submit" class="btn btn-primary" ng-click="saveConsult()">Guardar Datos</button>
	</div>
</div>
</div>