<div class="overlay2">
<div class="modal2">
	<div class="modal-header">
			<button ng-click="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class='glyphicon glyphicon-edit'></i> Consulta</h4>
		  </div>
		<div class="modal-body modalWithScroll">
			
			<div class="form-group row">
				<label for="nombre" class="col-sm-4 control-label">Profesional</label>
				<div class="col-sm-8">
					<label style="font-weight: normal;">{{profesionalNombre}} {{profesionalApellido}}</label>
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label for="nombre" class="col-sm-4 control-label">Paciene</label>
				<div class="col-sm-8">
					<label style="font-weight: normal;">{{pacienteNombre}} {{pacienteApellido}}</label>
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label for="nombre" class="col-sm-4 control-label">Motivo de Consulta</label>
				<div class="col-sm-8">
					<label style="font-weight: normal;">{{motivoConsulta}}</label>
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label for="nombre" class="col-sm-4 control-label">Observación</label>
				<div class="col-sm-8">
					<label style="font-weight: normal;">{{observacionConsulta}}</label>
				</div>
			</div>
			<br>

			<small style="font-weight: bolder;color: #286090;">Campos Obligatorios(*)</small>
			<br>

			<div class="form-group row">
				<label for="receta" class="col-sm-4 control-label">Receta</label>
				<div class="col-sm-8">
					<textarea class="form-control displayInput" ng-model="receta" rows="3"></textarea>
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label for="nombre" class="col-sm-4 control-label">Indicaciones (*)</label>
				<div class="col-sm-8">
					<textarea class="form-control displayInput" ng-model="indicaciones" rows="3"></textarea>
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label for="analisis" class="col-sm-4 control-label">Analisis</label>
				<div class="col-sm-8">
					<textarea class="form-control displayInput" ng-model="analisis" rows="3"></textarea>
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label for="observacion" class="col-sm-4 control-label">Observación</label>
				<div class="col-sm-8">
					<textarea class="form-control displayInput" ng-model="observacion" rows="3"></textarea>
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label for="nextCosult" class="col-sm-4 control-label">Siguiente consulta</label>
				<div class="col-sm-8">
					<div class="input-group displayInput"
					     moment-picker="nextCosult"
					     format="YYYY-MM-DD HH:mm">
					    <span class="input-group-addon">
					        <i class="octicon octicon-clock"></i>
					    </span>
					    <input class="form-control"
					           placeholder="Siguiente consulta"
					           ng-model="nextCosult"
					           ng-model-options="{ updateOn: 'blur' }">
					</div>
				</div>
			</div>
			<div id="consultToPrint"></div>
		</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cerrarModal()">Cerrar</button>
		<button type="submit" class="btn btn-primary" ng-if="!printButton && idEstado != '3'" ng-click="saveConsult()">Guardar Datos</button>
		<button type="submit" class="btn btn-primary" ng-if="printButton" ng-click="printConsult()">Imprimir Consulta</button>
	</div>
</div>
</div>