<div class="overlay2">
<div class="modal2">
	<div class="modal-header">
			<button ng-click="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class='glyphicon glyphicon-plus'></i> Historial del Paciente</h4>
		  </div>
		<div class="modal-body">

			

			<br>
			
			<div class="table-responsive">
							<table class="table">
								<tr class="info">
									<th>ID Paciente</th>
									<th>Fecha</th>
									<th>Motivo</th>
									<th>Observacion</th>
									<th>Imagen</th>
								</tr>
								
								<tr ng-repeat="his in historial track by $index">
									<td>{{his.Pacientes_idPaciente}}</td>
									<td>{{his.Fecha}}</td>
									<td>{{his.Motivo}}</td>
							
									<!-- Filtro lowercase para letras en minusculas -->
									<td>{{his.Observacion | lowercase}}</td>
									<td><img data-ng-src="data:image/png;base64,{{his.Imagen}}" data-err-src="images/png/avatar.png"/></td>
									
								</tr>
								
							</table>
						</div>
			<br>
			<br>
		</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cerrarModal()">Cerrar</button>
	</div>
</div>
</div>